:root {
    --main-font-family: 'Manrope', sans-serif;
  }
  
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/***General************/

body {
    font-family: var(--main-font-family);
    background-color: black;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    padding: 3vw;
    display: flex;
    flex-direction: column;
}

.space {
    height: clamp(0.5rem, 3vw, 1rem);
}

#submit-btn {
    font-family: var(--main-font-family);
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

h1, h3, #submit-btn {
    color: white;
    text-align: left;
}

h2 {
    color: #4C4C4C;
}

#password {
    border: none;
    border-bottom: 1px solid #4C4C4C;
    background-color: transparent;
    color: #4C4C4C;
    padding: 2vw 0;
}

#error-message {
    color: red;
}

img {
    width: clamp(8rem, 40vw, 20rem);
}

/***Decoration****/

