:root {
    --main-font-family: 'Manrope', sans-serif;
  }
  
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/***General************/

body {
    font-family: var(--main-font-family);
}

/***Error Message**/

#error-message {
    color: red;
}