:root {
    --main-font-family: 'Manrope', sans-serif;
  }
  
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/***General************/

body {
    font-family: var(--main-font-family);
    background-color: black;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    padding: 3vw;
    
}

.containerElements {
    padding: clamp(0.5rem, 3vw, 1rem) 0;
    overflow: hidden;
}

.containerElements > * {
    overflow: hidden;
}

#submit-btn {
    font-family: var(--main-font-family);
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: 900;
}

/**Text*******************/

h1, h3, #submit-btn {
    color: white;
    text-align: left;
}

h2 {
    color: #4C4C4C;
}

/***Password*****************/


.inputPassword {
    display: flex;
    flex-direction: column;
}

#password {
    border: none;
    border-bottom: 1px solid #4C4C4C;
    background-color: transparent;
    color: #4C4C4C;
    padding: clamp(0.5rem, 3vw, 1rem) 0;
    font-family: var(--main-font-family);
}



#password:focus {
    border: none;
    border-bottom: 2px solid white;
    outline: none;
}


#error-message {
    color: red;
}

img {
    width: clamp(8rem, 40vw, 20rem);
}

/***Decoration****/

::selection {
    background-color: white; /* Background color of selected text */
    color: black; /* Text color of selected text */
  }
  
/* For Mozilla Firefox */
::-moz-selection {
background-color: white; /* Background color of selected text */
color: black; /* Text color of selected text */
}