:root {
  --main-font-family: 'Manrope', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family);
  background-color: black;
}

/****FONTS****/

h1 { font-size: clamp(2.5rem, 7vw, 5rem); }
h2 { font-size: clamp(2.25rem, 5.5vw, 4rem); }
h3 { font-size: clamp(1.75rem, 5vw, 3rem); }
h4 { font-size: clamp(1.5rem, 4vw, 2rem); }
h5 { font-size: clamp(1.25rem, 4vw, 2.5rem); }
h6 { font-size: clamp(1.10rem, 3.5vw, 2rem); }
p {font-size: clamp(1rem, 2vw, 1.25rem);}

/****HEADING****/

h1, h2, h3, h5, p {
  color: white;
}

h3 {
  font-weight: 900;
}

h4, h6 {
  color: #4C4C4C;
}

p {
  font-weight: 300;
  text-align: justify;
}

/****HEADER****/

.download-File {
  text-transform: uppercase;
  font-family: var(--main-font-family);
  background-color: black;
  border: 0px;
  font-weight: 900;
  color: white;
  cursor: pointer;
}

.personal-logo {
  height: clamp(1.5rem, 3vw, 2.5rem);
}

span {
  display: block;
}

.content img {
  width: 100%;
}

/*Hamburger Menu*/






/****EDUCATION****/

.box-content {
  display: flex;
  flex-direction: column;
  flex-basis: 5rem;
}

/***NAVIGATION-BAR****/

section, header {
  display: flex;
  justify-content: center;
}

.content, .navbar-section {
  max-width: 900px;
  padding: 1rem;
}

.container {
  width: 100%;
  margin: auto;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


nav {
  background-color: black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
}

.navbar .nav-container a:hover{
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  background-color: black;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  z-index: 2;
  
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 3rem;
  height: 100vh;
  width: 100%;
  transform: translate(150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 1s ease-in-out;
  text-align: center;
  overflow: hidden;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 3rem;
  font-weight: 900;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}